<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
<booleanAttribute key="default" value="false"/>
<setAttribute key="deselected_workspace_bundles">
<setEntry value="at.medevit.atc_codes"/>
<setEntry value="at.medevit.atc_codes.test"/>
<setEntry value="at.medevit.ch.artikelstamm"/>
<setEntry value="at.medevit.ch.artikelstamm.elexis.common"/>
<setEntry value="at.medevit.ch.artikelstamm.elexis.open"/>
<setEntry value="at.medevit.ch.artikelstamm.medelexis"/>
<setEntry value="at.medevit.ch.artikelstamm.ui"/>
<setEntry value="at.medevit.elexis.astm"/>
<setEntry value="at.medevit.elexis.barcode"/>
<setEntry value="at.medevit.elexis.barcode.scanner"/>
<setEntry value="at.medevit.elexis.connect.urisys1100"/>
<setEntry value="at.medevit.elexis.dbcheck"/>
<setEntry value="at.medevit.elexis.dcavantage"/>
<setEntry value="at.medevit.elexis.disposan"/>
<setEntry value="at.medevit.elexis.epha.interactions"/>
<setEntry value="at.medevit.elexis.gdt"/>
<setEntry value="at.medevit.elexis.gdt.customed"/>
<setEntry value="at.medevit.elexis.gdt.defaultfilecp"/>
<setEntry value="at.medevit.elexis.gdt.teamw"/>
<setEntry value="at.medevit.elexis.gdt.unilabs"/>
<setEntry value="at.medevit.elexis.igmbestellung"/>
<setEntry value="at.medevit.elexis.laborimport.MCL"/>
<setEntry value="at.medevit.elexis.loinc"/>
<setEntry value="at.medevit.elexis.loinc.ui"/>
<setEntry value="at.medevit.elexis.loinc_test"/>
<setEntry value="at.medevit.elexis.medietikette"/>
<setEntry value="at.medevit.elexis.roche.labor"/>
<setEntry value="at.medevit.elexis.swissmedic"/>
<setEntry value="at.medevit.elexis.weblinks"/>
<setEntry value="at.medevit.medelexis.blueevidence"/>
<setEntry value="at.medevit.medelexis.buchhaltung"/>
<setEntry value="at.medevit.medelexis.ui.statushandler"/>
<setEntry value="at.medevit.medelexis.ui.statushandler.binding"/>
<setEntry value="at.medevit.medelexis.ui.statushandler.qualityfeedback"/>
<setEntry value="at.medevit.medelexis.vat_ch"/>
<setEntry value="at.medevit.redmine.mis"/>
<setEntry value="at.medevit.redmine.rest"/>
<setEntry value="ch.berchtold.privatrechnung"/>
<setEntry value="ch.docbox.elexis"/>
<setEntry value="ch.elexis.agenda"/>
<setEntry value="ch.elexis.archie.patientstatistik"/>
<setEntry value="ch.elexis.archie.wzw"/>
<setEntry value="ch.elexis.base.befunde"/>
<setEntry value="ch.elexis.base.ch.artikel"/>
<setEntry value="ch.elexis.base.ch.arzttarife"/>
<setEntry value="ch.elexis.base.ch.arzttarife.test"/>
<setEntry value="ch.elexis.base.ch.diagnosecodes"/>
<setEntry value="ch.elexis.base.ch.ebanking"/>
<setEntry value="ch.elexis.base.ch.feature.branding"/>
<setEntry value="ch.elexis.base.ch.labortarif_2009"/>
<setEntry value="ch.elexis.base.ch.medikamente.bag"/>
<setEntry value="ch.elexis.base.konsextension.bildanzeige"/>
<setEntry value="ch.elexis.base.konsextension.privatnotizen"/>
<setEntry value="ch.elexis.base.messages"/>
<setEntry value="ch.elexis.base.textplugin"/>
<setEntry value="ch.elexis.buchhaltung.basis"/>
<setEntry value="ch.elexis.connect.abxmicros"/>
<setEntry value="ch.elexis.connect.afinion"/>
<setEntry value="ch.elexis.connect.fuji.drichem3500"/>
<setEntry value="ch.elexis.connect.mythic"/>
<setEntry value="ch.elexis.connect.poct1"/>
<setEntry value="ch.elexis.connect.reflotron.v2"/>
<setEntry value="ch.elexis.connect.rochebaseunit"/>
<setEntry value="ch.elexis.connect.swelab"/>
<setEntry value="ch.elexis.connect.sysmex"/>
<setEntry value="ch.elexis.connect.urilux"/>
<setEntry value="ch.elexis.connector.be"/>
<setEntry value="ch.elexis.core.console.application"/>
<setEntry value="ch.elexis.core.data.tests"/>
<setEntry value="ch.elexis.core.eigenartikel"/>
<setEntry value="ch.elexis.core.hl7.v2x"/>
<setEntry value="ch.elexis.core.hl7.v2x.tests"/>
<setEntry value="ch.elexis.core.logging"/>
<setEntry value="ch.elexis.core.scripting.beanshell"/>
<setEntry value="ch.elexis.core.ui.eigenartikel"/>
<setEntry value="ch.elexis.core.ui.eigendiagnosen"/>
<setEntry value="ch.elexis.core.ui.importer.div"/>
<setEntry value="ch.elexis.core.ui.importer.div.tests"/>
<setEntry value="ch.elexis.core.ui.p2"/>
<setEntry value="ch.elexis.covercard"/>
<setEntry value="ch.elexis.fop_wrapper"/>
<setEntry value="ch.elexis.global_inbox"/>
<setEntry value="ch.elexis.hnet"/>
<setEntry value="ch.elexis.icpc"/>
<setEntry value="ch.elexis.icpc.fire"/>
<setEntry value="ch.elexis.kassenbuch"/>
<setEntry value="ch.elexis.laborimport.analytica"/>
<setEntry value="ch.elexis.laborimport.badena"/>
<setEntry value="ch.elexis.laborimport.bioanalytica"/>
<setEntry value="ch.elexis.laborimport.guentert"/>
<setEntry value="ch.elexis.laborimport.hl7.allg"/>
<setEntry value="ch.elexis.laborimport.logolab"/>
<setEntry value="ch.elexis.laborimport.medica"/>
<setEntry value="ch.elexis.laborimport.medics.v2"/>
<setEntry value="ch.elexis.laborimport.teamw"/>
<setEntry value="ch.elexis.laborimport.viollier.v2"/>
<setEntry value="ch.elexis.laborimport.viollier.v2_test"/>
<setEntry value="ch.elexis.laborimport_krech"/>
<setEntry value="ch.elexis.laborimport_labtop"/>
<setEntry value="ch.elexis.laborimport_lg1"/>
<setEntry value="ch.elexis.laborimport_risch"/>
<setEntry value="ch.elexis.laborimport_rischbern"/>
<setEntry value="ch.elexis.laborimport_rothen"/>
<setEntry value="ch.elexis.laborimport_unilabs"/>
<setEntry value="ch.elexis.laborimport_unilabs_mittelland"/>
<setEntry value="ch.elexis.laborimport_viollier"/>
<setEntry value="ch.elexis.mediserv"/>
<setEntry value="ch.elexis.notes"/>
<setEntry value="ch.elexis.omnivore"/>
<setEntry value="ch.elexis.pdfBills"/>
<setEntry value="ch.elexis.privatrechnung"/>
<setEntry value="ch.elexis.rezept.zurrose"/>
<setEntry value="ch.elexis.stickynotes"/>
<setEntry value="ch.elexis.support.dbshaker"/>
<setEntry value="ch.elexis.timer"/>
<setEntry value="ch.medelexis.application"/>
<setEntry value="ch.medelexis.application.imp"/>
<setEntry value="ch.medelexis.application.product"/>
<setEntry value="ch.medelexis.application.product.branding"/>
<setEntry value="ch.medelexis.application.provisioning"/>
<setEntry value="ch.medelexis.konsliste"/>
<setEntry value="ch.medelexis.openoffice"/>
<setEntry value="ch.medelexis.text.templator"/>
<setEntry value="ch.medelexis.twitter"/>
<setEntry value="ch.medelexis.xchange"/>
<setEntry value="ch.medshare.commons"/>
<setEntry value="ch.medshare.connect.abacusjunior"/>
<setEntry value="ch.medshare.elexis_directories"/>
<setEntry value="ch.medshare.importer.csv"/>
<setEntry value="ch.medshare.mediport"/>
<setEntry value="ch.ngiger.utilities.comm"/>
<setEntry value="ch.rgw.utility.tests"/>
<setEntry value="ch.unibe.iam.scg.archie"/>
<setEntry value="ch.unibe.iam.scg.archie.samples"/>
<setEntry value="ch.weirich.templator.pages"/>
<setEntry value="com.actavis.medidirect"/>
<setEntry value="com.hilotec.elexis.kgview"/>
<setEntry value="com.hilotec.elexis.messwerte.v2"/>
<setEntry value="com.hilotec.elexis.messwerte.v2_test"/>
<setEntry value="com.hilotec.elexis.opendocument"/>
<setEntry value="com.hilotec.elexis.pluginstatistiken"/>
<setEntry value="de.fhdo.elexis.perspective"/>
<setEntry value="net.medshare.connector.aerztekasse"/>
<setEntry value="net.medshare.connector.aerztekasse_test"/>
<setEntry value="net.medshare.percentile.v2"/>
<setEntry value="org.iatrix"/>
<setEntry value="org.iatrix.bestellung.pharmapool"/>
<setEntry value="org.iatrix.bestellung.rose"/>
<setEntry value="org.iatrix.messwerte"/>
<setEntry value="waelti.statistics"/>
</setAttribute>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ch.elexis.externe_dokumente.tests/src/ch/elexis/externe_dokumente/Test_externe_dokumente.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.elexis.externe_dokumente.Test_externe_dokumente"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.externe_dokumente.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.5 -XX:MaxPermSize=256m -Xms40m -Xmx512m&#10;-Dch.elexis.username=007 -Dch.elexis.password=topsecret -Delexis-run-mode=RunFromScratch"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="ch.elexis.core.application.product"/>
<booleanAttribute key="run_in_ui_thread" value="true"/>
<setAttribute key="selected_features">
<setEntry value="ch.elexis.externe_dokumente.feature:default"/>
</setAttribute>
<setAttribute key="selected_target_bundles">
<setEntry value="bouncycastle.bcprov-jdk14@default:default"/>
<setEntry value="ch.qos.logback.classic@default:default"/>
<setEntry value="ch.qos.logback.core@default:default"/>
<setEntry value="ch.qos.logback.slf4j@default:false"/>
<setEntry value="com.ibm.icu@default:default"/>
<setEntry value="com.mysql.jdbc@default:default"/>
<setEntry value="dom4j@default:default"/>
<setEntry value="javax.servlet@default:default"/>
<setEntry value="javax.xml@default:default"/>
<setEntry value="jaxen@default:default"/>
<setEntry value="jcl.over.slf4j@default:default"/>
<setEntry value="org.apache.commons.dbcp@default:default"/>
<setEntry value="org.apache.commons.io@default:default"/>
<setEntry value="org.apache.commons.jexl@default:default"/>
<setEntry value="org.apache.commons.pool@default:default"/>
<setEntry value="org.apache.xerces@default:default"/>
<setEntry value="org.apache.xml.resolver@default:default"/>
<setEntry value="org.apache.xml.serializer@default:default"/>
<setEntry value="org.eclipse.ant.core@default:default"/>
<setEntry value="org.eclipse.core.commands@default:default"/>
<setEntry value="org.eclipse.core.contenttype@default:default"/>
<setEntry value="org.eclipse.core.databinding.beans@default:default"/>
<setEntry value="org.eclipse.core.databinding.observable@default:default"/>
<setEntry value="org.eclipse.core.databinding.property@default:default"/>
<setEntry value="org.eclipse.core.databinding@default:default"/>
<setEntry value="org.eclipse.core.expressions@default:default"/>
<setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
<setEntry value="org.eclipse.core.filesystem@default:default"/>
<setEntry value="org.eclipse.core.jobs@default:default"/>
<setEntry value="org.eclipse.core.resources@default:default"/>
<setEntry value="org.eclipse.core.runtime.compatibility.auth@default:default"/>
<setEntry value="org.eclipse.core.runtime.compatibility.registry@default:false"/>
<setEntry value="org.eclipse.core.runtime@default:true"/>
<setEntry value="org.eclipse.core.variables@default:default"/>
<setEntry value="org.eclipse.emf.common@default:default"/>
<setEntry value="org.eclipse.emf.ecore@default:default"/>
<setEntry value="org.eclipse.equinox.app@default:default"/>
<setEntry value="org.eclipse.equinox.common@2:true"/>
<setEntry value="org.eclipse.equinox.preferences@default:default"/>
<setEntry value="org.eclipse.equinox.registry@default:default"/>
<setEntry value="org.eclipse.help@default:default"/>
<setEntry value="org.eclipse.jface.databinding@default:default"/>
<setEntry value="org.eclipse.jface@default:default"/>
<setEntry value="org.eclipse.nebula.cwt@default:default"/>
<setEntry value="org.eclipse.nebula.widgets.cdatetime@default:default"/>
<setEntry value="org.eclipse.nebula.widgets.tablecombo@default:default"/>
<setEntry value="org.eclipse.osgi*3.8.2.v20130124-134944@-1:true"/>
<setEntry value="org.eclipse.osgi*3.9.1.v20140110-1610@-1:true"/>
<setEntry value="org.eclipse.osgi.services*3.3.100.v20120522-1822@default:default"/>
<setEntry value="org.eclipse.osgi.services*3.3.100.v20130513-1956@default:default"/>
<setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:false"/>
<setEntry value="org.eclipse.swt@default:default"/>
<setEntry value="org.eclipse.ui.forms@default:default"/>
<setEntry value="org.eclipse.ui.views.properties.tabbed@default:default"/>
<setEntry value="org.eclipse.ui.views@default:default"/>
<setEntry value="org.eclipse.ui.workbench@default:default"/>
<setEntry value="org.eclipse.ui@default:default"/>
<setEntry value="org.h2@default:default"/>
<setEntry value="org.hamcrest.core@default:default"/>
<setEntry value="org.jdom@default:default"/>
<setEntry value="org.junit@default:default"/>
<setEntry value="org.postgresql@default:default"/>
<setEntry value="org.slf4j.api@default:default"/>
<setEntry value="org.slf4j.nop@default:false"/>
<setEntry value="xom@default:default"/>
<setEntry value="xpp3.min@default:default"/>
</setAttribute>
<setAttribute key="selected_workspace_bundles">
<setEntry value="at.medevit.elexis.abx@default:default"/>
<setEntry value="at.medevit.elexis.arkray.test@default:false"/>
<setEntry value="at.medevit.elexis.arkray@default:default"/>
<setEntry value="at.medevit.elexis.astm.test@default:false"/>
<setEntry value="at.medevit.elexis.barcode.manual@default:default"/>
<setEntry value="at.medevit.elexis.barcode.test@default:false"/>
<setEntry value="at.medevit.elexis.ehc.core.test@default:false"/>
<setEntry value="at.medevit.elexis.ehc.core@default:default"/>
<setEntry value="at.medevit.elexis.ehc.docbox@default:default"/>
<setEntry value="at.medevit.elexis.ehc.ui.docbox@default:default"/>
<setEntry value="at.medevit.elexis.ehc.ui.example@default:default"/>
<setEntry value="at.medevit.elexis.ehc.ui@default:default"/>
<setEntry value="at.medevit.elexis.impfplan.test@default:false"/>
<setEntry value="at.medevit.elexis.impfplan.ui@default:default"/>
<setEntry value="at.medevit.elexis.impfplan@default:default"/>
<setEntry value="at.medevit.elexis.inbox.core.elements@default:default"/>
<setEntry value="at.medevit.elexis.inbox.core.ui@default:default"/>
<setEntry value="at.medevit.elexis.inbox.ui@default:default"/>
<setEntry value="at.medevit.elexis.inbox@default:default"/>
<setEntry value="at.medevit.elexis.medidata.core@default:default"/>
<setEntry value="at.medevit.elexis.medidata.test@default:false"/>
<setEntry value="at.medevit.elexis.medidata.ui@default:default"/>
<setEntry value="at.medevit.elexis.rdus.client@default:default"/>
<setEntry value="at.medevit.elexis.rdus.model@default:default"/>
<setEntry value="at.medevit.elexis.tarmed.model.tests@default:false"/>
<setEntry value="at.medevit.elexis.tarmed.model@default:default"/>
<setEntry value="at.medevit.elexis.tel.search.test@default:false"/>
<setEntry value="at.medevit.elexis.tel.search.ui@default:default"/>
<setEntry value="at.medevit.elexis.tel.search@default:default"/>
<setEntry value="at.medevit.guavatest@default:default"/>
<setEntry value="at.medevit.medelexis.blueevidence_test@default:false"/>
<setEntry value="at.medevit.medelexis.vat_ch_test@default:false"/>
<setEntry value="at.medevit.medelexis.vatstatistics_ch@default:default"/>
<setEntry value="at.medevit.redmine.rest.test@default:false"/>
<setEntry value="ch.docbox.product_key@default:false"/>
<setEntry value="ch.elexis.connect.labgeo.hc10@default:default"/>
<setEntry value="ch.elexis.connect.labgeo.poct1@default:default"/>
<setEntry value="ch.elexis.connect.reflotron.v2test@default:false"/>
<setEntry value="ch.elexis.core.application@default:default"/>
<setEntry value="ch.elexis.core.data@default:default"/>
<setEntry value="ch.elexis.core.eigendiagnosen@default:default"/>
<setEntry value="ch.elexis.core.logging.default_configuration@default:false"/>
<setEntry value="ch.elexis.core.scheduler@default:default"/>
<setEntry value="ch.elexis.core.ui.contacts@default:default"/>
<setEntry value="ch.elexis.core.ui.icons@default:default"/>
<setEntry value="ch.elexis.core.ui.laboratory@default:default"/>
<setEntry value="ch.elexis.core.ui.medication@default:default"/>
<setEntry value="ch.elexis.core.ui@default:default"/>
<setEntry value="ch.elexis.core@default:default"/>
<setEntry value="ch.elexis.docbox.ws.client@default:default"/>
<setEntry value="ch.elexis.externe_dokumente.tests@default:false"/>
<setEntry value="ch.elexis.externe_dokumente@default:default"/>
<setEntry value="ch.elexis.impfplan@default:default"/>
<setEntry value="ch.elexis.laborimport.synlab@default:default"/>
<setEntry value="ch.elexis.labororder.analytica@default:default"/>
<setEntry value="ch.elexis.molemax@default:default"/>
<setEntry value="ch.elexis.rezept.zurrose_test@default:false"/>
<setEntry value="ch.medelexis.application.provisioning.test@default:default"/>
<setEntry value="ch.medelexis.galexis@default:default"/>
<setEntry value="ch.medelexis.gcal.sync@default:default"/>
<setEntry value="ch.medshare.elexis_directories.test@default:false"/>
<setEntry value="ch.pharmed.phmprescriber@default:default"/>
<setEntry value="ch.pharmed.phmprescriber_test@default:false"/>
<setEntry value="ch.priaid.test@default:false"/>
<setEntry value="ch.priaid@default:default"/>
<setEntry value="ch.rgw.utility@default:default"/>
<setEntry value="com.hilotec.elexis.opendocument2omnivore@default:default"/>
<setEntry value="com.hilotec.elexis.stickerprefix@default:default"/>
<setEntry value="com.hilotec.elexis.toolbar@default:default"/>
<setEntry value="net.medshare.connector.viollier@default:default"/>
<setEntry value="net.medshare.connector.viollier_test@default:false"/>
<setEntry value="org.eclipse.equinox.http.registry@default:default"/>
<setEntry value="org.eclipse.monitor.runtime@default:default"/>
<setEntry value="org.eclipse.swt.cocoa.macosx.x86_64@default:false"/>
<setEntry value="org.iatrix.bestellung.pharmapool_test@default:false"/>
<setEntry value="org.iatrix.bestellung.rose_test@default:false"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
